<div class="page-header">
    <h1>Consulta de Proveedores</h1>
</div>
<form class="form-horizontal" role="form" name="proveedorForm" ng-submit="consultaProveedores()">
    <div class="form-group">
        <div class="col-xs-6 col-md-4">
            <button class="btn btn-primary btn-lg" type="submit" title="Consultar">
                Consultar  <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
    <div class="panel panel-default" ng-show="contadorProveedores > 0">
        <div class="panel-heading">
            <div class="form-group">
                <div class="col-xs-3 col-md-2 text-center">
                    <label style="color: white;">Nombre</label>
                </div>
                <div class="col-xs-3 col-md-2 text-center">
                    <label style="color: white;">Paterno</label>
                </div>
                <div class="col-xs-3 col-md-2 text-center">
                    <label style="color: white;">Materno</label>
                </div>
                <div class="col-xs-3 col-md-2 text-center">
                    <label style="color: white;">Empresa</label>
                </div>
                <div class="col-xs-3 col-md-2 text-center">
                    <label style="color: white;">Actualiza</label>
                </div>
                <div class="col-xs-3 col-md-2 text-center">
                    <label style="color: white;">Elimina</label>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group" ng-show="proveedores" ng-repeat="proveedor in proveedores">
                <div class="col-xs-3 col-md-2 text-center">
                    {{proveedor.nombre}}
                </div>
                <div class="col-xs-3 col-md-2  text-center">
                    {{proveedor.paterno}}
                </div>
                <div class="col-xs-3 col-md-2  text-center">
                    {{proveedor.materno}}
                </div>
                <div class="col-xs-3 col-md-2  text-center">
                    {{proveedor.empresa}}
                </div>
                <div class="col-xs-3 col-md-2  text-center">
                    <button class="btn btn-warning" type="button" title="Actualiza proveedor" ng-click="consultaProveedor(proveedor)">
		                <span class="glyphicon glyphicon-edit"></span>
		            </button>
                </div>
                <div class="col-xs-3 col-md-2  text-center">
                    <button class="btn btn-danger" type="button" title="Elimina proveedor" ng-click="eliminaProveedor(proveedor)">
		                <span class="glyphicon glyphicon-trash"></span>
		            </button>
                </div>
            </div>
        </div>
    </div>

</form>