<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Service REST Test</title>
    <link rel="stylesheet" href="/components/bootstrap-css-only/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/accordion.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body ng-app="servicerestApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header"></div>
            <div id="navbar" class="navbar-collapse collapse">

                <form class="navbar-form navbar-right" th:action="@{/logout}" method="get">
                    <button class="btn btn-sm btn-danger btn-block" type="Submit">
                        Salir
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </form>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar">
                <div class="nav nav-sidebar" id="graphic" ng-app="customDirectives">
                    <div id="accordion" ng-controller="CustomDirectivesController">
                        <div custom-collapse ng-model="collapseData" collapse-panel-id="collapse-panel" collapse-panel-body-id="collapse-panel-body"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div ng-view>
                </div>

            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/angular/angular.min.js"></script>
<script type="text/javascript" src="/components/ngstorage/ngStorage.min.js"></script>
<script type="text/javascript" src="/components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="/components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/components/angular-touch/angular-touch.min.js"></script>
<script type="text/javascript" src="/components/jquery-ui/jquery-ui.min.js"></script>
<script>
    window.jQuery || document.write('<script src="/components/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/app/app.js"></script>
<script type="text/javascript" src="/js/app/controllers.js"></script>
<script type="text/javascript" src="/js/app/services.js"></script>

</html>